accelerate
aioboto3
aiofiles
aiohttp
asyncpg
graspologic
gremlinpython
hnswlib
langchain
langchain-community
langchain-core
lightrag-hku
nano-vectordb
neo4j
networkx
numpy
ollama
openai
oracledb
psycopg-pool
psycopg[binary,pool]
pydantic
pymilvus
pymongo
pymysql
python-dotenv
pyvis
setuptools
sqlalchemy
tenacity
tiktoken
torch
tqdm
transformers
xxhash
qwen_vl_utils
opencv-python
termcolor
bitsandbytes
nltk
google-search-results